<div class="container" style="margin-right: 20px;">
	<!-- <span ng-repeat=""></span> -->
	<div class="table-responsive">
		<table class="table table-hover table-striped table-bordered">
		  <caption>{{title}}</caption>
		  <thead>
		    <tr>
		      <th ng-repeat = "item in tableHead" style="background: #fff;">{{item}}</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="items in tableContent | limitTo : pageSize">
		      <td ng-repeat="item in items">{{item}}</td>
		    </tr>
		  </tbody>
		</table>
		<page-number isAdd="true" isEdit="true" isSearch="true" isDelete="true">
		</page-number>
		<!-- 编辑 -->
		<edit-modal id="edit"></edit-modal>
		<!-- 添加 -->
		<edit-modal id="add"></edit-modal>
	</div>
</div>
